
body{
    background-color: rgba(121, 121, 255, 0.157);
}

/* #region Global */

h1{
    font-size: 35px;
    font-weight: 200;
    color: white;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 20px;
    font-weight: 150;
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
.container{
    max-width: 1500px;
    min-height: 1000px;
    margin-left: auto;
    margin-right: auto;
   
    
}

main{
    width:80%;
    margin-right: auto;
    margin-left: auto;
}

.footer{
    width: 100%;
    height:100px;
    background-color: white;
    margin-top: 40px;
}

/* #region Nav Bar */
.navBar{
    background-color:rgb(40,44,53);
    width:100%;
    min-height: 10px;
    display: flex;
    /* justify-content: space-between; */
    
}

.navBarLeft{
/* background-color:tan; */
width:50%;
min-height: 10px;
display: flex;
}

/* #region NavBarRight */
.navBarRight{
    width: 50%;
    min-height: 10px;
    display: flex;
    /* background-color: red;  */
}

.navButtons{
    min-width:20%;
    min-height: 10px;
    display: flex;
    /* background-color: goldenrod; */
}

.navSpacerRight{
    width:80%;
}

.navSpacerLogo{
   width:5%; 
   min-height: 10px;
}

.navBox{
   width:50%;
    min-height:10px;
    text-align: center;
    /* background-color: blue; */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 .navBar a{
color: white;
text-decoration: none;
font-size: 18px;
font-family: 'Roboto', sans-serif;

} 

.navButtons :hover{
   background-color: rgba(128, 128, 128, 0.287);     
}





/* #endregion NavBarRight */

/* #endregion Nav Bar */

/* #endregion */

/* #region HomePage */

/* #region Banner */

.banner{

   width: 100%;
   min-height:400px;
   
   background-image: url("Images/BackgroundBuilding.jpg");
   background-position: center;
   background-repeat: no-repeat;

}
.bannerOver{
    width: 100%;
    height:500px;
    background-color: rgba(0, 0, 0, 0.808);
    display: flex;
    
}

.bannerContent{
    width:65%;
    display: flex;
    height:80%;
    margin-top:4%;
}

.bannerSpacer{
    width:15%;
    min-height:100%;
}
/* #region Banner Text */
.bannerTextBox{
    width:65%;
    min-height:100%;
    /* background-color: orange; */
    display: block;
}
.bannerTextHeader{
    width:100%;
    min-height: 20px;
    /* background-color: brown; */
    margin-bottom: 30px;
}

.bannerTextList{
    width:100%;
    min-height: 20px;
    /* background-color: brown; */
    
}

.bannerTextList li{
    margin-bottom: 10px;
    color: white;
}

.bannerButtons{

    width:100%;
    min-height: 20px;
    /* background-color: brown; */
    margin-top:60px;
    display:flex;
    
}

.bannerButtonsCenter{
    width:60%;
    min-height:100%;
    /* background-color: yellow; */
    display:flex;
    justify-content: space-between;
}

.bannerButton{
    width: 45%;
    min-height:10px;
    background-color: blueviolet;
    border-radius: 3px;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}
.bannerButton2{
    width: 45%;
    min-height:10px;
    background-color:gray;
    border-radius: 3px;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}

.bannerButtons p{
    color:white;
    font-weight: 800;
}
/* #endregion Banner Text */



/* #region Banner Login */

.bannerLoginBox{
    width:35%;
    height:100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
}

.loginBox{
    width:90%;
    height:100%;
    background-color: whitesmoke;
    border-radius: 5px;
    display: box;
    justify-content: center;
    text-align: center;
}

.loginHeader{
    margin-top:40px;
    width:85%;
    margin-left: auto;
    margin-right:auto;
}

.loginHeader h2{

    color:blueviolet;
    font-weight:600;
    font-size: 19px;
}

.loginSpacerLine{
    width: 33.3%;
    height:1px;
    background-color: rgb(149, 146, 146);
    margin-top: 9px;
}

.loginSpacer{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    margin-top: 40px;
}

.signUpText{
    width:33.3%;
    min-height: 10px;
    font-size: 19px;
    color: rgb(149, 146, 146);
    /* background-color: tan; */
}

.registerBox{

    width: 45%;
    min-height: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: teal; */
    text-align: left;

}

.registerBox input{
    margin-bottom: 10px;
}

/* #endregion Banner Login */



/* #endregion Banner */

/* #region content */

.content{
    width:70%;
    min-height:10px;
    /* background-color: teal; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    display: block;
}

.contentHeader{

    width:100%;
    min-height: 10px;
    /* background-color: thistle; */
    

}

.contentHeader h1{
    color: black;

}

.contentSpacer{
    width:98%;
    height: 2px;
    background-color: rgb(155, 155, 155);
    margin-top: 4px;
}


/* #endregion content */

/* #region Topper */
.topper{
    max-width:100%;
    min-height:20px;
    background-color: slategray;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.topperTextContainer{
    max-width: 1500px;
    min-height: 10px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue; */
}

.topperTextContainer h1{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;

}

.topperTextContainer p{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
}

/* #endregion Topper */

/* #region HeroBox */
.heroBox{
    width: 100%;    
    min-height: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.heroBoxText{
    width:40%;
    padding-left:10px;
}
.heroBoxPhoto{
    width: 60%;
    /* min-height: 1000px; */
    /* background-image: url("Images/anonymous.jpg"); */
}

.heroBox h2{
    color: gray;
}

/* #endregion HeroBox */

/* #region Cards */

/* #region Navcards */

.navCards{
    width: 100%;
    min-height: 30px; 
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.navCard{
    width:30%;
    min-height: 50px;
    /* background-color: red; */
    display: block;
}

.navImage{
    width: 100%;
    min-height: 100px;
    background-image: url();
    background-color: black;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.383);
    } 
.navTextBox{
    width: 100%;
    min-height: 250px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.383);
    /* border-radius:  */
}
.navText{
margin-left:10px;
padding-top: 10px;

}
.navHead{
    font-size: 20px;
    
    
}
/* #endregion Navcards */

/* #region InfoCards  */
.infoCards{
    width: 100%;
    min-height: 10px;
    display: flex;
    justify-content:space-between ;
    margin-top: 40px;
    margin-bottom: 40px;
}

.infoCard{
    width:48%;
    min-height: 50px;
    /* background-color: royalblue; */
}

/* #endregion InfoCards */

/* #endregion Cards*/
/* #endregion HomePage */

/* #region RegisterPage */

.registerForm{
    width: 50%;
    min-height: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    /* background-color: red; */
}

.insert{
    width:100%;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    /* background-color: blue; */
    display: flex;
}

.inputRight{

    width:50%;
    min-height: 10px;
    margin-left: auto;
    /* background-color: orange; */
    
}

.buttonRight{
    width:25%;
    min-height: 10px;
    margin-left:auto;
}

.page{

    width:100%;
    min-height: 20px;
    background-color: white;
    padding-right:  20px;
    padding-top:    30px;
    padding-left:   20px;
    padding-bottom: 30px;
    border-radius: 4px;
}

.page h1{
    margin-bottom: 20px;
}



/* #endregion RegisterPage */

/* #region Pricing Page */


.pricingContainer{
display: flex;
justify-content: center;
width:100%;
min-height: 10px;
/* background-color: red; */
margin-top:150px;

}

/* #region Pricing Cards */
.pricingCards{

    width:90%;
    min-height: 10px;
    display: flex;
    justify-content: space-between;
    
}

.pricingCard{
position: relative;
width: 27%;
height: 600px;
background-color: white;
display: block;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.383);
}

.pricingCardHeader{
    width:100%;
    min-height: 10px;
    /* background-color: red; */
    margin-top: 50px;
    text-align: center;
}
.pricingCardHeader h2{
    font-size: 25px;
    font-weight: 520;
    color:black;
}

.pricingCardButtonCenter{

    width: 100%;
    min-height: 10px;
    /* background-color: blueviolet; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.pricingCardButton{
    min-width:20px;
    min-height: 10px;
    background-color: rgb(184, 184, 184);
    padding-top:5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px ;
}

.pricingCardButton a{
    color:white;
    font-size: 20px;
}

.pricingTextBox{
    width:100%;
    min-height: 10px;
    /* background-color: teal; */
    margin-top: 100px;
    display: block;
    
}

.priceBox{
    width:100%;
    min-height: 10px;
    /* background-color: teal; */
    margin-top: 100px;
    display: flex;
    justify-content: center;

}

.price{
    min-width: 10%;
    min-height: 10px;
    /* background-color: blue; */
    font-size: 40px;
    text-align: right;
}

.price h2{
    color: black;
    font-size: 30px ;
}
.perMonth{
    min-width: 10%;
    min-height: 10px;
    /* background-color:red; */
    text-align: right;
    font-size: 20px;
    padding-top: 20px;
}

.priceText{
    width:60%;
    min-height: 10px;
    margin-top: 70px;
    /* background-color: red; */
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.priceText li{
    margin-bottom: 10px;
    color: gray;
}

.priceText p{
    color: rgb(149, 146, 146);
}

/* #endregion Pricing Cards */

/* #region Ribbon */

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #020507;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: gray;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }

/* #region topRight*/

.ribbon-top-right {
    top: -10px;
    right: -10px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }
/* #endregion topRight */


/* #endregion Ribbon */


/* #endregion Pricing Page */

/* #region Course Nav */

.course{
display: block;
width:100%;
min-height: 10px;
margin-top: 100px;
}

.courseHead{
display: block;
width: 40%;
min-height: 10px;

}

.courseHead h1{
    color:black;
}

.courseHeadLine{
    width:200%;
    min-height: 3px;
    margin-top: 10px;
    background-color: rgb(136, 135, 135);
}

.courseCards{
    width:90%;
    min-height: 10px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.courseCard{
    width: 24%;
    min-height: 170px ;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.courseLinkBox{
    width:100%;
    
    height: 170px;
}

.courseLinkBox:hover{
    background-color:rgba(128, 128, 128, 0.76);

}

.courseCardText{
    padding-top: 20px;
    width: 100%;
    min-height: 10px;
    text-align: center;
}

.courseCardText p{
    text-decoration: none;
    color: white;
    
}

/* #endregion Course Nav */

/* #region Course */

.columContainer{
    display: flex;
    width:100%;
    min-height: 10px;
    

}

.courseNavColum{
    margin-top: 60px;
    margin-left: 10px;
    width: 10%;
    min-height: 10px;
    display: block;
    /* background-color:white ; */
    margin-right: 40px;
    /* box-shadow: 10px 0px lightgrey; */
}

.courseNavSpacer{
    width:100%;
    height: 3px;
    background-color: black;
    padding-left: 20px;
}

.courseNavText{
    width: 100%;
    min-height: 3px;
    background-color: Blueviolet;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 2px;
    box-shadow: 5px 3px gray;
}

.courseNavText a{
    text-decoration: none;
    color: white;
}
.courseNavText:hover{
    background-color: violet;
}

.courseNavTextLink{
    width: 100%;
    min-height: 3px;
    
    /* background-color: lightgray; */
}

.courseContentContainer{
    width: 70%;
    min-height: 10px;
    display: block;
    margin-top: 50px;
    text-align: left;
    
    /* background-color: blue; */
}

.courseContentContainer h1{
    color: black;
    margin-bottom: 10px;
}

.startCourseButton{
    width: 90px;
    min-height: 10px;
    background-color: violet;
    margin-top: 40px;
    margin-left: auto;
    margin-right: 100px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.startCourseButton p{
    color: white;
}

.startCourseButton:hover{
    background-color: blueviolet;
}

/* #region Quiz */

.quizContainer{
    width:100%;
    min-height: 10px;
    background-color: rgba(5, 153, 179, 0.753);
    border-radius: 10px;
}

.quizContainer h1{
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 40px;

}

form{
    color: white;
    margin-left: 35px;
}

input{
    margin-top: 10px;
}

#after_submit{
    width: 100%;
    min-height: 10px;
    visibility: hidden;
}

#number_correct{
    margin-top: 20px;
    padding-bottom: 20px;
}

form p{
    margin-top: 20px;
}


/* #endregion Quiz */

/* #endregion Course */